<form [formGroup]="formGroup">
  <label for="id">Id</label>
  <input id="id" formControlName="id" />

  <label for="name">Nome</label>
  <input id="name" formControlName="name" />

  <label for="email">Email</label>
  <input id="email" formControlName="email" />

  <label for="document">CPF</label>
  <input id="document" formControlName="document" />

  <label for="carPlate">Placa Veículo</label>
  <input id="carPlate" formControlName="carPlate" />
</form>

<button id="btnCreateDriver" (click)="createDriver()" [disabled]="formGroup.invalid">
  Cadastrar Motorista
</button>
